body {
	text-align: center;
	background-color:#97fcf8;
	font-family: 'Roboto', sans-serif;
}
.schedule {
	display: inline-block;
}
td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}​

.buttonHolder{
	text-align:center;
}

button {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	text-transform:uppercase;
	background-color: #84f0c8;
	border: 0;
	font-weight: 600;
	line-height: 2;
	margin-top: 1.5rem;
	width: 15%;
	border-radius:12px;
	border: 2px solid #555555;
	cursor:pointer;
}


button:hover {
	background-color:#39bf7c;
	transition: all 0.5s ease;
}

